#tommy-main-button {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    height: 50px;
    width: 50px;
    border-radius: 25px;
    cursor: pointer;
    /*transition: width 2s; /* For expanding */
}

.opened-button {
    width: 300px !important;
}

#tommy-main-button:hover {
    box-shadow: 0 7px 28px rgba(0,0,0,0.25), 0 7px 10px rgba(0,0,0,0.22);
}

#tommy-main-button-icon {
    position: fixed;
    vertical-align: middle;
    font-size: 24px;
    margin-top: 13px;
    margin-right: 29px;
    right: 0;
}

#tommy-main-button-visualizer {
    position: fixed;
    height: 50px;
    width: 50px;
    right: 0;
    margin-right: 16px;
}

#tommy-button-spoken-preview {
    position: fixed;
    vertical-align: middle;
    font-size: 14px;
    color: white;
    margin-top: 14px;
    margin-right: 70px;
    right: 0;
    overflow: hidden;
    white-space: nowrap
}

#result-panel {
    position: absolute;
    box-shadow: 0 3px 19px rgba(0,0,0,0.30), 0 3px 12px rgba(0,0,0,0.22);
    background: white;
    width: 300px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 12px;
    right: 0;
    bottom: 0;
    margin-bottom: 68px;
    overflow: hidden;
}

.suggestion-item {
    margin-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    cursor: pointer;
}

.suggestion-item:hover {
    
}

.suggestion-title {
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}

.suggestion-description {
    color: gray;
    margin-top: 0px;
    font-size: 14px;
}

#result-panel-top {
    padding-top: 8px;
    padding-right: 16px;
    padding-left: 16px;
    margin-bottom: 16px;
}

#result-panel-close-icon {
    cursor: pointer;
    color: black;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
    margin-top: 8px;
    margin-right: 8px;
}

#result-panel-top-title {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

#result-panel-suggestions {
    overflow: scroll;
    max-height: 354px;
}

#no-results-text {
    text-align: center;
    margin-top: 0px;
}

/* Tooltip Styles */
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 12px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    
    width: 120px;
    top: 12px;
    right: 110%; 
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}